* {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #252525;
}

button {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  transition: all 200ms;
}

button:active {
  transform: translateY(2px);
}

.container {
  background-color: #f1f1f1;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  width: 800px;
  height: 600px;
  max-width: 1000px;
  max-height: 1000px;
  padding: 12px 72px;
}

.statistics {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.statistics p {
  width: 200px;
  text-align: center;
}

.currentDifficulty {
  font-size: 1.4rem;
}

.difficulty {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}

.difficulty button {
  border: none;
  border-radius: 8px;
  height: 48px;
  font-weight: 600;
  font-size: 1rem;
  flex: 1;
  text-align: center;
}

.Easy { color: #05d357; }
.Medium { color: #FEB615; }
.Hard { color: #ea3e3e; }
.Insane { color: #ff0000; }

.easy { background-color: #05d357; }
.medium { background-color: #FEB615; }
.hard { background-color: #ea3e3e; }
.insane { background-color: #ff0000; }

.easy:hover { background-color: #04c04f; }
.medium:hover { background-color: #eba611; }
.hard:hover { background-color: #d73838; }
.insane:hover { background-color: #f10101; }


.expression {
  font-size: 4rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 12px;
  color: #252525;
  padding: 24px;
  font-size: 28px;
  width: 256px;
  height: 64px;
  text-align: center;
  transition: all 300ms;
  -moz-appearance: textfield;
}

input:focus {
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input::placeholder {
  text-align: center;
  font-size: 18px;
}

.check {
  border: none;
  background-color: #383838;
  border-radius: 12px;
  color: #f1f1f1;
  font-size: 36px;
  width: 256px;
  height: 64px;
  transition: all 300ms;
}
.check:hover {
  background-color: #353535;
}
.check:active {
  background-color: #252525;
}

.output-block {
  width: 100%;
}

.output {
  width: 80%;
  margin: 0 auto;
  font-size: 1.5rem;
  text-align: center;
}

.right {
  color: #05d357;
}
.wrong {
  color: #ea3e3e;
}

/* FOOTER */
a {
  text-decoration: none;
  color: #202020;
}
a:hover {
  color: #555;
} 
a:active {
  color: #7b7b7b;
}
footer {
  color: #202020;
  font-size: 18px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 8px;
}

@media screen and (max-width: 767px) {
  body {
    background-color: #f1f1f1;
  }

  .container {
    min-height: 90vh;
    width: 100%;
    padding: 0 4%;
  }
  
  .statistics {
    flex-direction: column;
  }

  .statistics p {
    width: 100%;
  }

  .difficulty {
    gap: 0.6rem;
    flex-wrap: wrap;
  }
  .difficulty button {
    flex: none;
    width: 35vmin;
  }

  footer {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    margin: 0 50px;
  }
  .container {
    max-width: 800px;
    width: 100%;
  }
}